[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Autostart toggled
Comment=Toggle systemd services
Exec=toggled --sync-icons
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

